<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Users Data</title>
</head>
<body>
    <h1>Статистика игроков</h1>
    <div class="my-style1">
        <div class="column1"></div>
        <div class="column2">
            <h3>Имя</h3>
            {% for user in users %}
            <p>{{ user[0] }}</p>
            {% endfor %}
        </div>
        <div class="column2">
            <h3>Баланс</h3>
            {% for user in users %}
            <p>{{ user[1] }}</p>
            {% endfor %}
        </div>
        <div class="column2">
            <h3>Крутки</h3>
            {% for user in users %}
            <p>{{ user[2] }}</p>
            {% endfor %}
        </div>
        <div class="column1"></div>
    </div>
</body>
</html>